<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>VistaNest</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
      <!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">VistaNest -- A Real Estate Listing Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search' %}">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'favorites' %}">Favorite</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'add-platform' %}">Enlist A Nest!</a>
            </li>
        </ul>
        <!-- (aligned to the right) -->
        <ul class="navbar-nav ml-auto">
            <!-- Logout Button Section -->
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link text-teal-300" style="font-size: 100%; font-family: Cambria;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" viewBox="6 0 18 40">
                        <title>Log Out</title>
                        <path d="M3 0h22c0.553 0 1 0 1 0.553l-0 3.447h-2v-2h-20v28h20v-2h2l0 3.447c0 0.553-0.447 0.553-1 0.553h-22c-0.553 0-1-0.447-1-1v-30c0-0.553 0.447-1 1-1z"></path>
                        <path d="M21.879 21.293l1.414 1.414 6.707-6.707-6.707-6.707-1.414 1.414 4.293 4.293h-14.172v2h14.172l-4.293 4.293z"></path>
                    </svg>
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>

<br> <br>
    <div class="container mt-4">

        <h1 style = "font-family: 'Montserrat';" >{{ platform.title }}</h1>
        <img src="{{ platform.image.url }}" alt="Property Image" align= "right" class="bordered-image"  style="max-width: 50%; height: 50%;  border: 3px solid black;  border-radius: 15px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); "> <br>
        <p><strong>Owner's Contact Number: </strong> {{ platform.owner_contact_number }}</p>
        <p><strong>Property Type: </strong> {{ platform.property_type }}</p>
        <p><strong>Property Description: </strong> {{ platform.description }}</p>
        <p><strong>Price: BDT </strong> {{ platform.price }}</p>
        <p><strong>Size: </strong> {{ platform.size_sqft }} sqft</p>
        <p><strong>Year Built: </strong> {{ platform.year_built }}</p>
        <p><strong>Location: </strong> {{ platform.location }}</p>
        <p><strong>City: </strong> {{ platform.city }}</p>
        <p><strong>Country: </strong> {{ platform.country }}</p>
        <p><strong>Listed Date: </strong> {{ platform.listed_date }}</p>


      <a href="{% url 'add_to_favorites' platform.id %}">Save to Favorites</a>
        <br> <br>
        <h2 style = "font-family: 'Montserrat';"><b>Bids Details</b></h2>
    <div id="bids">
        {% for bid in bids %}
            <p>User: {{ bid.user.username }}, Amount: BDT{{ bid.amount }}</p>
        {% endfor %}
    </div>
         <br>
        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
        <a href="{% url 'compare_properties' %}" class="btn btn-secondary ml-2">Compare Properties</a>
    </div>
        <br>
        </form>
    </div>

</body>
</html>
